/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/
.content{
    width: 1200px;
    margin: 0px auto;
}
.blocks__zagolovok{
		font-family: 'Spectral', serif;
		font-size: 62px;
		color: #009900;
		text-align: center;
		margin: 0px 0px 10px 0px;
}
.blocks__podzag{
		font-family: 'Spectral', serif;
		font-size: 52px;
		color: #006600;
		text-align: center;
		margin: 0px 0px 20px 0px;
}
/* МЕНЮ */
.menu{
		height: 40;
		border: 1px;
		margin: auto;
}

ul{
 		list-style: none;   /*убираем маркеры списка*/
 		margin: 0px;   /*убираем верхнее и нижнее поле, равное 1em*/
  	padding-left: 0px;   /*убираем левый отступ, равный 40px*/
}
ul{
		display: flex;
		justify-content: center;
		padding: 18px 0px;
}
a{
		text-decoration: none;   /*убираем подчеркивание текста ссылок*/
		padding: 0px 50px;
		height: 5px;
		color: #FFFFFF;
  	font-family: 'IBM Plex Sans', sans-serif;
  	font-size: 20px;
}
a:hover {
		color: #98CBB1;
}
header{
		position: fixed;
    height: 60px;
    background-color: #0aa93f;
		width: 100%;
		top: 0px;
		left: 0px;
}
/*block1*/
.block1{
	padding: 100px 0px 0px;
  height: 770px;
}
.block1__tail1{
    display: flex;
    width: 50%;
    float: left;
    flex-wrap: wrap;
}
.block1__tail2{
    display: flex;
    width: 50%;
    float: left;
    flex-wrap: wrap;
		justify-content: center;
}
.block1__img2{
		margin: 30px 0px;
		width: 340px;
}
.block1__tail2-item2{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: 0px 30px;
	color: #003300;
}
/*
заголовки - font-family: 'Spectral', serif;
основа - font-family: 'IBM Plex Sans', sans-serif;
*/

/*blocks*/
.block2, .block3, .block4, .block5{
	margin: 60px 0px 0px;
  height: 2040px;
}
.block1__img1{
		width: 600px;
}

.block2__tail1, .block3__tail1,
.block4__tail1, .block5__tail1{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	padding: 0px 15px;
	color: #003300;
	padding: 0px 60px 100px 60px;
}

.block__flex{
    display: flex;
    width: 50%;
    float: left;
    flex-wrap: wrap;
}
.block2__tail2-item1, .block2__tail4-item1,
.block3__tail3-item1,
.block4__tail2-item1, .block4__tail4-item1,
.block5__tail3-item1{
		justify-content: flex-end;
}
.block2__tail2-item2, .block2__tail4-item2,
.block3__tail3-item2,
.block4__tail2-item2, .block4__tail4-item2,
.block5__tail3-item2{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 22px;
	text-align: justify;
	padding: 0px 15px;
	color: #003300;
	padding: 90px 54px 0px 30px;
}
.block2__tail2,.block2__tail3,.block2__tail4,
.block3__tail2,.block3__tail3,.block3__tail4,
.block4__tail2,.block4__tail3,.block4__tail4,
.block5__tail2,.block5__tail3,.block5__tail4{
		height: 550px;
}

.image{
		width: 550px;
}
.block2__tail3-item1,
.block3__tail2-item1, .block3__tail4-item1,
.block4__tail3-item1,
.block5__tail2-item1, .block5__tail4-item1{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 22px;
	text-align: justify;
	padding: 0px 15px;
	color: #003300;
	padding: 90px 30px 0px 55px;
}
.img220{
	width: 250px;
}
.block6{
	height: 300px;
	text-align: center;
	padding: 40px 0px 0px 50px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12px;
}
.sourse{
	text-decoration: none;   /*убираем подчеркивание текста ссылок*/
	padding: 0px;
	height: 5px;
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12px;
}
